body{
    background-image: url(./../../images/versusBody.JPG);
    background-size: cover !important;
    background-attachment: fixed;
    // background-repeat: no-repeat;
    // background-position: center;
    // margin: 0;
    // box-sizing: border-box;
    // font-family: sans-serif;
}


@media (max-width:450px){
    .body{
        background-image: url(./../../images/versus.idea.dos);
        margin: 0;
        background-repeat: no-repeat;
        background-position: center;
    }
}