.header{
    position: fixed;
    top: 0%;
    width: 100%;
    #logoHorizontal {
        text-align: center;
        height: auto;
        width: auto;
        max-width: 40%;
        margin: 3%;
      }
    nav {
        background-color: rgb(22, 22, 22) !important;
        height: 10vh;
        display: flex;
        align-items: center;
        font-weight: bold;
        ul li {
            display: inline-block;
            padding: 0px 15px;
            justify-content: center;
            align-items: center;
            a {
                text-decoration: none;
                color: rgb(221, 214, 197);
                font-size: 1.2rem;
                &:hover {
                    color: rgb(237, 206, 161);
                  } 
              }
          }
    }
}

@media (max-width: 480px){
    .header{
        #nav{
            .container-fluid{
                display: inline;
                    .navbar-toggler{
                        border-color: rgba(98, 98, 98, 0.86);
                        border-width: 2px;
                    }
                    #navbarSupportedContent{
                        background-color: rgba(93, 93, 93, 0.911);
                        border-radius: 6px;
                    }
                }
            }
        }
    }
    #logoHorizontal{
        max-width: 30%;
    }
    

    .navbar-toggler {
        border-color: bisque;
    }
    .navbar-toggler .navbar-toggler-icon {
        background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"%3E%3Cpath stroke="rgb(98, 98, 98)" stroke-width="2" linecap="round" linejoin="round" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
    }

.logo {
    width: 40%;
    height: auto;
    justify-content: center;
    align-items: center;
    padding-left: 2vh;
    padding-top: 2vh;
}