@import "body";
.carousel{
    width: 40%;
    height: auto;
}
#MainNosotros{
    background-color: rgb(0, 255, 98);
    justify-content: center;
    display: contents;
}
#carouselExampleCaptions{
    align-items: center;
}
