#formVisitanos{
    background-color: rgba(240, 194, 108, 0.852);
    border-radius: 10px;
    padding: 2%;
}
.fotosConocenos{
    width: 40%;
    height: auto;
}

div{
    justify-content: center;
    #mapaVersus{
        height: 40vh;
        width: 41vw;
        border-radius: 10px;
    }
}

@media (max-width: 450px) {
    #form-visitanos{
        padding-top: 10vh;
    }
    .section{
        #mapa {
            justify-content: center;
            #mapaVersus {
                height: 40vh;
                width: 86vw;
                border-radius: 10px;
            }
        }
    }
}