main {
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    // border-color: rgb(80, 194, 255);
    padding-bottom: 50px;
    ul li{
        list-style:none;
        margin-bottom: 1%;
    }
    #PMain{
        background-color: rgba(69, 69, 69, 0.811);
        border-radius: 10px;
        padding: 1%;
        #col{
            #videoIndex{
                border-radius: 10px;
                padding: 0%;
                #entrada{
                    height: 30vh;
                    width: 54vh;
                    border-radius: 10px;
                }
                
            }
            
        }
        #fontIndex{
            color: antiquewhite;
            padding: 1% !important;
        }
    }
}


@media (max-width: 450px){
    main {
        margin-top: 10%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 5%;
        padding-bottom: 50px;
        ul li{
            list-style:none;
            margin-bottom: 1%;
            #font.index{
                h4{
                    font-size: 2px;
                }
                
            }
        }
        #contenedorMain{
            margin-top: 10%;
            margin-bottom: 100%;
            //#col{
                justify-content: center;
                
                #PMain{
                    display: block;
                    border-radius: 10px;
                    padding: 0%;
                    font-size: 16px;
                    justify-content: space-around;
                    background-color: rgba(69, 69, 69, 0.832);
                    #videoIndex{
                        padding: 0% !important;
                        padding-top: 4vh !important;
                        #entrada{
                            height: 20vh;
                            width: 35vh;
                            border-radius: 10px;
                        }
                        
                    }
                }
           // }      
        }
    }

    
}