body {
  background-image: url(./../../images/versusBody.JPG);
  background-size: cover !important;
  background-attachment: fixed;
}

@media (max-width: 450px) {
  .body {
    background-image: url(./../../images/versus.idea.dos);
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.footer {
  background-color: rgb(44, 43, 43);
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  bottom: 0;
}
.footer ul {
  margin-bottom: 1vh;
  margin-top: 1vh;
}
.footer li {
  list-style-type: none;
  display: inline;
  margin-right: 4vh;
  position: static;
}
.footer li .logoFooter {
  width: 5vh;
  height: auto;
}

@media (max-width: 450px) {
  .footer {
    width: 100vw;
    justify-content: center;
    align-items: center;
    display: flex;
    bottom: 0;
  }
  .footer ul li {
    margin-right: 1vh;
  }
}
.logoFooter {
  width: 5%;
  height: auto;
}

.loguito {
  justify-self: center;
  padding-right: 20%;
}

@media (max-width: 320px) {
  .logoFooter {
    width: 2%;
    height: auto;
  }
  .loguito {
    justify-self: center;
    padding-right: 10%;
  }
  .footer li .logoFooter {
    width: 2vh;
    height: auto;
  }
  .footer li {
    list-style-type: none;
    display: inline;
    margin-right: 2vh;
    position: static;
  }
}
.header {
  position: fixed;
  top: 0%;
  width: 100%;
}
.header #logoHorizontal {
  text-align: center;
  height: auto;
  width: auto;
  max-width: 40%;
  margin: 3%;
}
.header nav {
  background-color: rgb(42, 37, 37) !important;
  height: 10vh;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.header nav ul li {
  display: inline-block;
  padding: 0px 15px;
  justify-content: center;
  align-items: center;
}
.header nav ul li a {
  text-decoration: none;
  color: rgb(221, 214, 197);
  font-size: 1.2rem;
}
.header nav ul li a:hover {
  color: rgb(240, 208, 164);
}

@media (max-width: 990px) {
  #logoHorizontal {
    max-width: 30%;
  }
}
.logo {
  width: 40%;
  height: auto;
  justify-content: center;
  align-items: center;
  padding-left: 2vh;
  padding-top: 2vh;
}

main {
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  padding-bottom: 50px;
}
main ul li {
  list-style: none;
  margin-bottom: 1%;
}
main #PMain {
  background-color: lightpink;
  border-radius: 10px;
  padding: 1%;
}

#videoIndex {
  width: 90%;
  height: auto;
  border-radius: 10px;
}

@media (max-width: 450px) {
  main {
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    padding-bottom: 50px;
  }
  main ul li {
    list-style: none;
    margin-bottom: 1%;
  }
  main ul li #font.index h4 {
    font-size: 2px;
  }
  main #contenedorMain {
    margin-top: 40%;
    margin-bottom: 100%;
  }
  main #contenedorMain #PMain {
    display: block;
    background-color: lightpink;
    border-radius: 10px;
    padding: 0%;
    font-size: 16px;
  }
  #videoIndex {
    width: 100%;
    height: auto;
    border-radius: 10px;
    padding-top: 10%;
  }
}
.carousel {
  width: 40%;
  height: auto;
}

.MainNosotros {
  background-color: blue;
}

#carouselExampleCaptions {
  background-color: aquamarine;
}

#video1 {
  background-color: rgba(242, 109, 158, 0.8196078431);
  border-radius: 10px;
  padding-top: 2%;
}

#video2 {
  background-color: rgba(4, 172, 191, 0.831372549);
  border-radius: 10px;
  padding: 2%;
}

#video3 {
  background-color: rgba(255, 126, 75, 0.8235294118);
  border-radius: 10px;
  padding-top: 2%;
}

#video4 {
  background-color: rgba(0, 182, 137, 0.8039215686);
  border-radius: 10px;
  padding-top: 2%;
}

#video5 {
  background-color: rgba(255, 202, 11, 0.7607843137);
  border-radius: 10px;
  padding-top: 2%;
}

#video6 {
  background-color: rgba(197, 132, 188, 0.8156862745);
  border-radius: 10px;
  padding-top: 2%;
}

#formTrabaja {
  background-color: rgba(149, 194, 243, 0.852);
  border-radius: 10px;
  padding: 2%;
}

#formVisitanos {
  background-color: rgba(240, 194, 108, 0.852);
  border-radius: 10px;
  padding: 2%;
}

.fotosConocenos {
  width: 40%;
  height: auto;
}

.container text-center {
  padding-top: 2%;
}

section {
  padding-top: 5%;
}

aside {
  padding: 5%;
  justify-self: unset;
  padding-bottom: 50px;
}

#mapaVersus {
  contain-intrinsic-height: 50%;
  width: auto;
}

/*# sourceMappingURL=styles.css.map */
