.container text-center {
  padding-top: 2%;
}

section {
  padding-top: 5%;
}

aside {
  padding: 5%;
  justify-self: unset;
  padding-bottom: 50px;
}

#mapaVersus {
  contain-intrinsic-height: 50%;
  width: auto;
}

.footer {
  background-color: rgb(44, 43, 43);
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  bottom: 0;
}
.footer ul {
  margin-bottom: 1vh;
  margin-top: 1vh;
}
.footer li {
  list-style-type: none;
  display: inline;
  margin-right: 2vh;
  margin-left: 2vh;
  position: static;
}
.footer li .logoFooter {
  width: 5vh;
  height: auto;
}

@media (max-width: 450px) {
  .footer {
    bottom: 0;
  }
  .footer ul {
    justify-content: center;
  }
}
.logoFooter {
  width: 5%;
  height: auto;
}

.loguito {
  justify-self: center;
  padding-right: 20%;
}

@media (max-width: 480px) {
  .logoFooter {
    width: 20%;
    height: auto;
  }
  .loguito {
    justify-self: center;
    padding-right: 5%;
  }
  .footer li .logoFooter {
    width: 4vh;
    height: auto;
  }
  .footer li {
    list-style-type: none;
    display: inline;
    margin-right: 2vh;
    position: static;
  }
  .nav-link {
    padding: 3% !important;
  }
}
.header {
  position: fixed;
  top: 0%;
  width: 100%;
}
.header #logoHorizontal {
  text-align: center;
  height: auto;
  width: auto;
  max-width: 40%;
  margin: 3%;
}
.header nav {
  background-color: rgb(22, 22, 22) !important;
  height: 10vh;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.header nav ul li {
  display: inline-block;
  padding: 0px 15px;
  justify-content: center;
  align-items: center;
}
.header nav ul li a {
  text-decoration: none;
  color: rgb(221, 214, 197);
  font-size: 1.2rem;
}
.header nav ul li a:hover {
  color: rgb(237, 206, 161);
}

@media (max-width: 480px) {
  .header #nav .container-fluid {
    display: inline;
  }
  .header #nav .container-fluid .navbar-toggler {
    border-color: rgba(98, 98, 98, 0.86);
    border-width: 2px;
  }
  .header #nav .container-fluid #navbarSupportedContent {
    background-color: rgba(93, 93, 93, 0.911);
    border-radius: 6px;
  }
}
#logoHorizontal {
  max-width: 30%;
}

.navbar-toggler {
  border-color: bisque;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"%3E%3Cpath stroke="rgb(98, 98, 98)" stroke-width="2" linecap="round" linejoin="round" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
}

.logo {
  width: 40%;
  height: auto;
  justify-content: center;
  align-items: center;
  padding-left: 2vh;
  padding-top: 2vh;
}

@media (max-width: 600px) {
  .header #nav .container-fluid {
    display: inline;
  }
  .header #nav .container-fluid .navbar-toggler {
    border-color: rgba(98, 98, 98, 0.86);
    border-width: 2px;
  }
  .header #nav .container-fluid #navbarSupportedContent {
    background-color: rgba(93, 93, 93, 0.911);
    border-radius: 6px;
  }
}
main {
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  padding-bottom: 50px;
}
main .whatsapp-logo {
  position: fixed;
  bottom: 40px;
  right: 20px;
  display: inline-block;
  width: 50px !important;
  height: 50px !important;
  transition: transform 0.3s ease;
}
main .whatsapp-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
main .whatsapp-logo:hover {
  transform: scale(1.4);
}
main ul li {
  list-style: none;
  margin-bottom: 1%;
}
main #PMain {
  background-color: rgba(69, 69, 69, 0.811);
  border-radius: 10px;
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main #PMain #col #videoIndex {
  border-radius: 10px;
  padding: 0%;
}
main #PMain #col #videoIndex #entrada {
  height: 30vh;
  width: 100%;
  max-width: 54vh;
  border-radius: 10px;
}
main #PMain #fontIndex {
  color: antiquewhite;
  padding: 1% !important;
  text-align: center;
}

@media (max-width: 480px) {
  main {
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    padding-bottom: 50px;
  }
  main ul li {
    list-style: none;
    margin-bottom: 1%;
  }
  main #contenedorMain {
    padding-top: 8vh;
    margin-top: 10%;
    margin-bottom: 100%;
  }
  main #contenedorMain #PMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 0%;
    font-size: 16px;
    background-color: rgba(69, 69, 69, 0.832);
  }
  main #contenedorMain #PMain #videoIndex {
    padding: 0 !important;
    margin-bottom: 2rem;
  }
  main #contenedorMain #PMain #videoIndex #entrada {
    width: 100%;
    height: 80%;
    max-width: 35vh;
    border-radius: 10px;
    padding-top: 5vh;
  }
  main #contenedorMain #PMain #fontIndex {
    text-align: center;
    padding: 1rem;
  }
}
body.body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.contenedorNosotros {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  z-index: 1;
}

#mainNos {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 70px;
}
#mainNos .whatsapp-logo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: inline-block;
  width: 50px !important;
  height: 50px !important;
  transition: transform 0.3s ease;
}
#mainNos .whatsapp-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#mainNos .whatsapp-logo:hover {
  transform: scale(1.4);
}

#mainCarousel {
  position: relative;
  padding-top: 20px;
}
#mainCarousel #mainNosotros #carouselExampleCaptions .carousel-inner {
  max-width: 70vh;
  height: auto;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
#mainCarousel #mainNosotros #carouselExampleCaptions img {
  width: 100%;
  height: auto;
}

@media (max-width: 480px) {
  #mainCarousel #mainNosotros #carouselExampleCaptions {
    max-width: 100%;
    height: auto;
  }
  #mainCarousel #mainNosotros #carouselExampleCaptions img {
    width: 100%;
    height: auto;
  }
}
.whatsapp-logo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: inline-block;
  width: 50px !important;
  height: 50px !important;
  transition: transform 0.3s ease;
}
.whatsapp-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.whatsapp-logo:hover {
  transform: scale(1.4);
}

#card1 {
  background-color: rgba(242, 109, 158, 0.8196078431);
  border-radius: 10px;
  padding-top: 1%;
  margin-bottom: 1%;
}

#card2 {
  background-color: rgba(4, 172, 191, 0.831372549);
  border-radius: 10px;
  padding-top: 1%;
  margin-bottom: 1%;
}

#card3 {
  background-color: rgba(255, 126, 75, 0.8235294118);
  border-radius: 10px;
  padding-top: 1%;
  margin-bottom: 1%;
}

#card4 {
  background-color: rgba(0, 182, 137, 0.8039215686);
  border-radius: 10px;
  padding-top: 1%;
  margin-bottom: 1%;
}

#card5 {
  background-color: rgba(255, 202, 11, 0.7607843137);
  border-radius: 10px;
  padding-top: 1%;
  margin-bottom: 1%;
}

#card6 {
  background-color: rgba(197, 132, 188, 0.8156862745);
  border-radius: 10px;
  padding-top: 1%;
}

@media (max-width: 480px) {
  #programacion {
    padding-top: 10vh;
  }
  #programacion #card1 {
    justify-content: center;
    align-items: center;
    background-color: rgba(242, 109, 158, 0.8588235294);
    border-radius: 10px;
    padding-top: 7%;
    margin-bottom: 5%;
  }
  #programacion #card1 .col .videoProg {
    height: 25vh;
    width: 70vw;
  }
  #programacion #card2 {
    background-color: rgba(4, 172, 191, 0.8705882353);
    border-radius: 10px;
    padding-top: 7%;
    margin-bottom: 5%;
  }
  #programacion #card2 .col .videoProg {
    height: 25vh;
    width: 70vw;
  }
  #programacion #card3 {
    background-color: rgba(255, 126, 75, 0.8588235294);
    border-radius: 10px;
    padding-top: 7%;
    margin-bottom: 5%;
  }
  #programacion #card3 .col .videoProg {
    height: 25vh;
    width: 70vw;
  }
  #programacion #card4 {
    background-color: rgba(0, 182, 137, 0.8588235294);
    border-radius: 10px;
    padding-top: 7%;
    margin-bottom: 5%;
  }
  #programacion #card4 .col .videoProg {
    height: 25vh;
    width: 70vw;
  }
  #programacion #card5 {
    background-color: rgba(255, 202, 11, 0.8784313725);
    border-radius: 10px;
    padding-top: 7%;
    margin-bottom: 5%;
  }
  #programacion #card5 .col .videoProg {
    height: 25vh;
    width: 70vw;
  }
  #programacion #card6 {
    background-color: rgba(197, 132, 188, 0.9019607843);
    border-radius: 10px;
    padding-top: 7%;
  }
  #programacion #card6 .col .videoProg {
    height: 25vh;
    width: 70vw;
  }
}
.whatsapp-logo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: inline-block;
  width: 50px !important;
  height: 50px !important;
  transition: transform 0.3s ease;
}
.whatsapp-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.whatsapp-logo:hover {
  transform: scale(1.4);
}

#formTrabaja {
  background-color: rgba(149, 194, 243, 0.852);
  border-radius: 10px;
  padding: 2%;
}

@media (max-width: 480px) {
  .contenedor-trabaja {
    padding-top: 10vh;
    padding-bottom: 20vh;
  }
}
.whatsapp-logo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: inline-block;
  width: 50px !important;
  height: 50px !important;
  transition: transform 0.3s ease;
}
.whatsapp-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.whatsapp-logo:hover {
  transform: scale(1.4);
}

#formVisitanos {
  background-color: rgba(240, 194, 108, 0.852);
  border-radius: 10px;
  padding: 2%;
}

.fotosConocenos {
  width: 40%;
  height: auto;
}

div {
  justify-content: center;
}
div #mapaVersus {
  height: 40vh;
  width: 41vw;
  border-radius: 10px;
}

@media (max-width: 480px) {
  #form-visitanos {
    padding-top: 10vh;
  }
  .section #mapa {
    justify-content: center;
  }
  .section #mapa #mapaVersus {
    height: 40vh;
    width: 86vw;
    border-radius: 10px;
  }
}
body {
  background-image: url(./../../images/bodyDeckstop.png);
  background-size: cover !important;
  background-attachment: fixed;
}

@media (max-width: 480px) {
  .body {
    background-image: url(./../../images/mobile.tres.png);
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    bottom: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
